@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: Roboto;
  color: #cacaca;
  font-size: 18px;
  background-color: #08020d;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.df {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ml-a {
  margin-left: auto;
}

@media (max-width: 990px) {
  .ml-a {
    margin: 0;
  }
}

.ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mr-88 {
  margin-right: 88px;
}

.mr-16 {
  margin-right: 16px;
}

.mr-24 {
  margin-right: 24px;
}

.mb-30 {
  margin-bottom: 30px;
}

@media (max-width: 990px) {
  .mb-30 {
    margin-bottom: 16px;
  }
}

.p-a {
  position: absolute;
}

.w-100 {
  width: 100%;
}

.ta-c {
  text-align: center;
}

.mw-692 {
  max-width: 692px;
  margin: auto;
}

.fd-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fw-w {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-1-1-100 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.bg-free {
  background: url(/images/free-bg.png) 0 0/cover no-repeat;
}

.bg-standart {
  background: url(/images/standart-bg.png) 0 0/cover no-repeat;
}

.bg-premium {
  background: url(/images/premium-bg.png) 0 0/cover no-repeat;
}

.mb-65 {
  margin: 0 0 65px 0;
}

.mr-50 {
  margin-right: 50px;
}

@media (max-width: 990px) {
  .mr-50 {
    margin: 0;
  }
}

.ml-50 {
  margin-left: 50px;
}

@media (max-width: 990px) {
  .ml-50 {
    margin: 0;
  }
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-48 {
  margin-bottom: 48px;
}

.header {
  padding-top: 25px;
}

@media (max-width: 990px) {
  .header-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
}

.logo-link {
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
  color: #ffffff;
}

@media (max-width: 990px) {
  .logo {
    margin-bottom: 17px;
  }
}

.menu-link {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
}

.menu-link a {
  color: #cacaca;
}

.menu-link .active {
  color: #ffffff;
}

@media (max-width: 990px) {
  .menu-link {
    margin-bottom: 3px;
  }
}

@media (max-width: 990px) {
  .menu {
    display: block;
  }
}

.input {
  width: 248px;
  background: #3c3b3d;
  border-radius: 50px;
  padding: 0 0 5px 10px;
  height: 25px;
  line-height: 15px;
}

@media (max-width: 990px) {
  .input {
    width: 100%;
    margin-top: 18px;
  }
}

.home {
  padding: 200px 0 200px 0;
  background: url(/images/header-bg.png) no-repeat center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  height: 751px;
}

@media (max-width: 990px) {
  .home {
    padding: 247px 0 200px 0;
  }
}

.home-title {
  font-weight: bold;
  font-size: 60px;
  line-height: 90px;
  text-transform: uppercase;
}

@media (max-width: 990px) {
  .home-title {
    font-size: 30px;
    line-height: 45px;
  }
}

.home-subtitle {
  font-weight: bold;
  font-size: 38px;
  line-height: 57px;
  text-transform: uppercase;
}

@media (max-width: 990px) {
  .home-subtitle {
    font-size: 18px;
    line-height: 27px;
  }
}

.home-text {
  font-size: 16px;
  line-height: 150%;
  color: #e0e0e0;
}

.home-input {
  min-width: 270px;
  min-height: 50px;
  border: 2px solid #cacaca;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0);
  padding: 15px 0 15px 20px;
  margin-bottom: 24px;
}

.home-input::-webkit-input-placeholder {
  color: #ffffff;
}

.home-input:-ms-input-placeholder {
  color: #ffffff;
}

.home-input::-ms-input-placeholder {
  color: #ffffff;
}

.home-input::placeholder {
  color: #ffffff;
}

@media (max-width: 990px) {
  .home-input {
    width: 100%;
  }
}

.home-form {
  width: 573px;
}

@media (max-width: 990px) {
  .home-form {
    width: 100%;
  }
}

.home-btn {
  color: #ffffff;
  height: 57px;
  background: #34c176;
  border-radius: 5px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13.3px;
  line-height: 15px;
  text-transform: uppercase;
}

.price {
  padding: 100px 0 0 0;
}

.title {
  color: #ffffff;
  margin: 0 0 48px 0;
  font-weight: bold;
  font-size: 38px;
  line-height: 57px;
  text-transform: uppercase;
}

@media (max-width: 990px) {
  .title {
    font-size: 18px;
    line-height: 27px;
  }
}

@media (max-width: 990px) {
  .price-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.price-item {
  padding: 0 24px;
  border-radius: 1rem;
  text-align: center;
}

@media (max-width: 990px) {
  .price-item {
    padding: 10px 1.5rem 66px 1.5rem;
  }
}

.price-column {
  width: calc(1100px / 3);
  height: 615px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 990px) {
  .price-column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.item-title {
  padding: 21px 0 180px 0;
  font-size: 24px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

@media (max-width: 990px) {
  .item-title {
    font-size: 16px;
  }
}

.item span {
  font-size: 64px;
  line-height: 150%;
  color: #ffffff;
  margin-right: 16px;
}

.item span:last-of-type {
  font-size: 32px;
  vertical-align: top;
  margin-right: 0;
  margin-top: 15px;
  display: inline-block;
}

.item p {
  font-size: 12.8px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
  margin-top: 64px;
}

.item-link {
  margin-top: 24px;
}

.btn {
  width: 100%;
  display: inline-block;
  padding: 20px 0;
  font-size: 16px;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  line-height: 150%;
}

.price-text p {
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
}

.price-text {
  margin-top: 40px;
}

.news {
  padding: 100px 0 0 0;
}

@media (max-width: 990px) {
  .news-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.news-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 575px;
          flex: 0 0 575px;
}

@media (max-width: 990px) {
  .news-img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.news-img img {
  max-width: 100%;
}

.news-block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (max-width: 990px) {
  .news-block {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 49px 0 0 0;
  }
}

.news-title {
  color: #ffffff;
  font-size: 30px;
  line-height: 45px;
  text-transform: capitalize;
  margin: 0 0 30px 0;
}

@media (max-width: 990px) {
  .news-title {
    margin: 0 0 16px 0;
    font-size: 16px;
  }
}

.news-text {
  font-size: 16px;
  line-height: 150%;
  margin: 0 0 15px 0;
}

.news-info {
  margin: 0 0 24px 0;
}

.news-info img {
  margin: 0 10px 0 0;
}

.news-info span {
  font-size: 12.8px;
  line-height: 150%;
  color: #f89202;
  margin: 0 10px 0 0;
}

.news-info span:last-child {
  font-size: 12.8px;
  line-height: 150%;
  color: #cacaca;
}

.btn-news {
  width: 135px;
  text-align: center;
  padding: 17px 0;
  color: #cacaca;
}

.mobile {
  padding: 100px 0;
}

@media (max-width: 990px) {
  .mobile-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.mobile-block {
  width: 50%;
  font-size: 16px;
  line-height: 150%;
  margin: 16px 144px 0 0;
}

@media (max-width: 990px) {
  .mobile-block {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 16px 0 0 0;
    width: 100%;
  }
}

.mobile-text:first-child {
  margin-bottom: 15px;
}

@media (max-width: 990px) {
  .mobile-img {
    display: block;
    margin: 0 auto;
  }
}

.mobile-btn {
  display: inline-block;
  background: #95390c;
  border-radius: 2rem;
  font-size: 12.8px;
  line-height: 150%;
  color: #ffffff;
  padding: 17px 40px;
  margin: 16px 0 0 0;
}

.footer {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
  color: #ffffff;
  margin-top: 100px;
}

.footer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-bottom: 74px;
  padding-top: 63px;
}

@media (max-width: 990px) {
  .footer-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer-column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
}

@media (max-width: 990px) {
  .footer-column {
    margin: 0 0 30px 0;
  }
}

.footer-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  text-transform: uppercase;
  margin: 0 0 16px 0;
}

.footer-link a {
  font-size: 16px;
  line-height: 150%;
  color: #e0e0e0;
}

.footer-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-socials a {
  margin: 5px 24px 0 0;
}

.line {
  border: 1px solid #e0e0e0;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 0 48px 0;
}

@media (max-width: 990px) {
  .footer-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer-bottom li {
  margin: 0 15px 0 0;
}

@media (max-width: 990px) {
  .footer-bottom li {
    margin: 0 0 16px 0;
  }
}

.footer-bottom li:last-child {
  margin: 0;
}

.footer-bottom li a {
  font-size: 16px;
  line-height: 150%;
  color: #e0e0e0;
}

.artist {
  padding: 250px 0 223px 0;
  background: url(/images/artist-header-bf.png) no-repeat center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
}

.home-link span {
  font-size: 12.8px;
  line-height: 62px;
  color: #ffffff;
  padding-left: 36px;
  background: url(/images/icon/play.svg) left center no-repeat;
  display: inline-block;
}

.play-button {
  display: inline-block;
  padding: 0 96px 0 31px;
  height: 62px;
  background: #5328a1;
  border-radius: 5px;
  margin: 0 24px 0 0;
}

@media (max-width: 990px) {
  .play-button {
    margin: 0 0 25px 0;
  }
}

.favorite-button {
  display: inline-block;
  padding: 0 47px 0 31px;
  background: #95390c;
  height: 62px;
  border-radius: 5px;
}

.favorite-button span {
  font-size: 12.8px;
  line-height: 62px;
  color: #ffffff;
  padding-left: 36px;
  background: url(/images/icon/like.svg) left center no-repeat;
  display: inline-block;
}

.tracks {
  padding: 100px 0 0 0;
}

.tracks-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 990px) {
  .tracks-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.tracks-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  margin: 0 0 25px 0;
}

.tracks-item:nth-child(5) {
  margin: 0;
}

.tracks-item:nth-child(6) {
  margin: 0;
}

.track-img {
  margin: 0 15px 0 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55px;
          flex: 0 0 55px;
}

.track-img img {
  width: 100%;
}

.tracks-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.info-title {
  font-weight: bold;
  font-size: 12.8px;
  line-height: 150%;
  text-transform: uppercase;
  color: #ffffff;
}

.info-track {
  font-size: 12.8px;
  line-height: 150%;
  color: #e0e0e0;
}

.info-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 49px 0 0;
  font-size: 12.8px;
  line-height: 150%;
  color: #e0e0e0;
}

@media (max-width: 990px) {
  .info-time {
    margin: 0;
  }
}

.discography {
  padding: 100px 0 0 0;
}

.discography-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -25px;
}

.discography-item {
  padding: 0 25px;
}

.discography-item:nth-child(5) {
  margin-top: 25px;
}

.discography-item:nth-child(6) {
  margin-top: 25px;
}

@media (max-width: 990px) {
  .discography-item {
    width: 50%;
  }
}

.discography-img {
  margin: 0 0 18px 0;
}

.discography-img img {
  max-width: 100%;
}

.discography-title {
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
}

.discography-subtitle {
  font-size: 16px;
  line-height: 150%;
  color: #e0e0e0;
}

.similar {
  padding: 100px 0 0 0;
}

.similar-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -25px;
}

.similar-item {
  padding: 0 25px;
  text-align: center;
  margin-top: 25px;
}

.similar-item:nth-child(-n + 4) {
  margin-top: 0;
}

@media (max-width: 990px) {
  .similar-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
}

.similar-img {
  margin: 0 0 18px 0;
}

.similar-img img {
  width: 100%;
}

.similar-title {
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
}

.similar-subtitle {
  font-size: 16px;
  line-height: 150%;
  color: #e0e0e0;
}
