@import "_reset";
@import "_variables";
@import "_general";

.header {
  padding-top: 25px;
  @media (max-width: 990px) {
    padding-top: 27px;
  }
}
.header-row {
  @media (max-width: 990px) {
    flex-direction: column;
    align-items: end;
  }
}

.logo {
  &-link {
    font-weight: bold;
    font-size: 11px;
    line-height: 13px;
    text-transform: uppercase;
    color: #ffffff;
  }
  @media (max-width: 990px) {
    margin-bottom: 18px;
  }
}
.menu {
  &-link {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
    line-height: 13px;
    a {
      color: #cacaca;
    }
    .active {
      color: #ffffff;
    }
    @media (max-width: 990px) {
      margin-bottom: 3px;
    }
  }
  @media (max-width: 990px) {
    display: block;
  }
}
.input {
  width: 248px;
  background: #3c3b3d;
  border-radius: 50px;
  padding: 0 0 5px 10px;
  height: 25px;
  line-height: 15px;
  @media (max-width: 990px) {
    width: 100%;
    margin-top: 15px;
  }
}

.home {
  padding: 200px 0 200px 0;
  background: url(/images/header-bg.png) no-repeat center;
  background-size: cover;
  background-repeat: no-repeat;
  color: $color-white;
  height: 751px;
  @media (max-width: 990px) {
    padding: 250px 0 200px 0;
    height: 853px;
  }
  &-title {
    font-weight: bold;
    font-size: 60px;
    line-height: 90px;
    text-transform: uppercase;
    @media (max-width: 990px) {
      font-size: 30px;
      line-height: 45px;
    }
  }
  &-subtitle {
    font-weight: bold;
    font-size: 38px;
    line-height: 57px;
    text-transform: uppercase;
    @media (max-width: 990px) {
      font-size: 18px;
      line-height: 27px;
    }
  }
  &-text {
    font-size: 16px;
    line-height: 150%;
    color: #e0e0e0;
  }
  &-input {
    min-width: 270px;
    min-height: 50px;
    border: 2px solid #cacaca;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0);
    padding: 15px 0 15px 20px;
    margin-bottom: 24px;
    &::placeholder {
      color: #ffffff;
    }
    @media (max-width: 990px) {
      width: 100%;
    }
  }
  &-form {
    width: 573px;
    @media (max-width: 990px) {
      width: 100%;
    }
  }
  &-btn {
    color: $color-white;
    height: 57px;
    background: #34c176;
    border-radius: 5px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13.3px;
    line-height: 15px;
    text-transform: uppercase;
  }
}

.price {
  padding: 100px 0 0 0;
}
.title {
  color: $color-white;
  margin: 0 0 48px 0;
  font-weight: bold;
  font-size: 38px;
  line-height: 57px;
  text-transform: uppercase;
  @media (max-width: 990px) {
    font-size: 18px;
    line-height: 27px;
  }
}
.price-row {
  @media (max-width: 990px) {
    flex-wrap: wrap;
  }
}
.price-item {
  padding: 0 24px;
  border-radius: 1rem;
  text-align: center;
  @media (max-width: 990px) {
    padding: 10px 1.5rem 66px 1.5rem;
  }
}
.price-column {
  width: calc(1100px / 3);
  height: 615px;
  display: flex;
  border-radius: 16px;
  @media (max-width: 990px) {
    flex: 1 1 100%;
  }
}
.item {
  &-title {
    padding: 21px 0 180px 0;
    font-size: 24px;
    line-height: 45px;
    text-align: center;
    text-transform: uppercase;
    color: $color-white;
    @media (max-width: 990px) {
      font-size: 16px;
    }
  }
  span {
    font-size: 64px;
    line-height: 150%;
    color: $color-white;
    margin-right: 16px;
    &:last-of-type {
      font-size: 32px;
      vertical-align: top;
      margin-right: 0;
      margin-top: 15px;
      display: inline-block;
    }
  }
  p {
    font-size: 12.8px;
    line-height: 150%;
    color: #ffffff;
    margin-top: 64px;
    width: 99%;
  }
  &-link {
    margin-top: 24px;
  }
}
.btn {
  width: 100%;
  display: inline-block;
  padding: 20px 0;
  font-size: 16px;
  color: $color-white;
  border: 1px solid #ffffff;
  border-radius: 5px;
  line-height: 150%;
}
.price-text {
  margin-top: 40px;
  font-size: 16px;
  line-height: 150%;
  color: $color-white;
  text-align: center;
}
.news {
  padding: 100px 0 0 0;
}
.news-row {
  @media (max-width: 990px) {
    flex-direction: column;
  }
}
.news-img {
  flex: 0 0 575px;
  @media (max-width: 990px) {
    flex: 0 0 100%;
    order: 1;
  }
  img {
    max-width: 100%;
  }
}
.news-block {
  flex: 1 1 auto;
  @media (max-width: 990px) {
    order: 2;
    margin: 49px 0 0 0;
  }
}
.news-title {
  color: #ffffff;
  font-size: 30px;
  line-height: 45px;
  text-transform: capitalize;
  margin: 0 0 30px 0;
  @media (max-width: 990px) {
    margin: 0 0 16px 0;
    font-size: 16px;
  }
}
.news-text {
  font-size: 16px;
  line-height: 150%;
  margin: 0 0 15px 0;
}
.news-info {
  margin: 0 0 24px 0;
  img {
    margin: 0 10px 0 0;
  }
  span {
    font-size: 12.8px;
    line-height: 150%;
    color: #f89202;
    margin: 0 10px 0 0;
    &:last-child {
      font-size: 12.8px;
      line-height: 150%;
      color: #cacaca;
    }
  }
}
.btn-news {
  width: 135px;
  text-align: center;
  padding: 17px 0;
  color: #cacaca;
}

.mobile {
  padding: 100px 0;
}
.mobile-row {
  @media (max-width: 990px) {
    flex-direction: column;
  }
}
.mobile-block {
  width: 50%;
  font-size: 16px;
  line-height: 150%;
  margin: 16px 144px 0 0;
  @media (max-width: 990px) {
    order: 2;
    margin: 16px 0 0 0;
    width: 100%;
  }
}
.mobile-text {
  &:first-child {
    margin-bottom: 15px;
  }
}
.mobile-img {
  @media (max-width: 990px) {
    display: block;
    margin: 0 auto;
  }
}
.mobile-btn {
  display: inline-block;
  background: #95390c;
  border-radius: 2rem;
  font-size: 12.8px;
  line-height: 150%;
  color: #ffffff;
  padding: 17px 40px;
  margin: 16px 0 0 0;
}

.footer {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
  color: $color-white;
  margin-top: 100px;
}
.footer-row {
  display: flex;
  column-gap: 40px;
  justify-content: flex-start;
  padding-bottom: 74px;
  padding-top: 63px;
  @media (max-width: 990px) {
    flex-direction: column;
  }
}
.footer-column {
  flex: 1 1 200px;
  @media (max-width: 990px) {
    margin: 0 0 30px 0;
  }
}
.footer-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  text-transform: uppercase;
  margin: 0 0 16px 0;
}
.footer-link {
  a {
    font-size: 16px;
    line-height: 150%;
    color: #e0e0e0;
  }
}
.footer-socials {
  display: flex;
  align-items: center;
  a {
    margin: 5px 24px 0 0;
  }
}
.line {
  border: 1px solid #e0e0e0;
}
.footer-bottom {
  display: flex;
  padding: 40px 0 48px 0;
  @media (max-width: 990px) {
    flex-direction: column;
  }
  li {
    margin: 0 15px 0 0;
    @media (max-width: 990px) {
      margin: 0 0 16px 0;
    }
    &:last-child {
      margin: 0;
    }
    a {
      font-size: 16px;
      line-height: 150%;
      color: #e0e0e0;
    }
  }
}

.artist {
  padding: 250px 0 223px 0;
  background: url(/images/artist-header-bf.png) no-repeat center;
  background-size: cover;
  background-repeat: no-repeat;
  color: $color-white;
  @media (max-width: 990px) {
    padding: 224px 0 223px 0;
  }
}
.home-link {
  span {
    font-size: 12.8px;
    line-height: 62px;
    color: #ffffff;
    padding-left: 36px;
    background: url(/images/icon/play.svg) left center no-repeat;
    display: inline-block;
  }
}
.play-button {
  display: inline-block;
  padding: 0 96px 0 31px;
  height: 62px;
  background: #5328a1;
  border-radius: 5px;
  margin: 0 24px 0 0;
  @media (max-width: 990px) {
    margin: 0 0 25px 0;
  }
}
.favorite-button {
  display: inline-block;
  padding: 0 47px 0 31px;
  background: #95390c;
  height: 62px;
  border-radius: 5px;
  span {
    font-size: 12.8px;
    line-height: 62px;
    color: #ffffff;
    padding-left: 36px;
    background: url(/images/icon/like.svg) left center no-repeat;
    display: inline-block;
  }
}

.tracks {
  padding: 100px 0 0 0;
}

.tracks-row {
  display: flex;
  flex-wrap: wrap;
  @media (max-width: 990px) {
    flex-direction: column;
  }
}
.tracks-item {
  display: flex;
  flex: 1 1 50%;
  margin: 0 0 25px 0;
  &:nth-child(5) {
    margin: 0;
  }
  &:nth-child(6) {
    margin: 0;
  }
}
.track-img {
  margin: 0 15px 0 0;
  flex: 0 0 55px;
  img {
    width: 100%;
  }
}
.tracks-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 auto;
}
.info-title {
  font-weight: bold;
  font-size: 12.8px;
  line-height: 150%;
  text-transform: uppercase;
  color: #ffffff;
}
.info-track {
  font-size: 12.8px;
  line-height: 150%;
  color: #e0e0e0;
}
.info-time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 49px 0 0;
  font-size: 12.8px;
  line-height: 150%;
  color: #e0e0e0;
  @media (max-width: 990px) {
    margin: 0;
  }
}

.discography {
  padding: 100px 0 0 0;
}
.discography-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -25px;
}
.discography-item {
  padding: 0 25px;
  &:nth-child(5) {
    margin-top: 25px;
  }
  &:nth-child(6) {
    margin-top: 25px;
  }
  @media (max-width: 990px) {
    width: 50%;
  }
}
.discography-img {
  margin: 0 0 18px 0;
  img {
    max-width: 100%;
  }
}

.discography-title {
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
}
.discography-subtitle {
  font-size: 16px;
  line-height: 150%;
  color: #e0e0e0;
}

.similar {
  padding: 100px 0 0 0;
}
.similar-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -25px;
}
.similar-item {
  padding: 0 25px;
  text-align: center;
  margin-top: 25px;
  &:nth-child(-n + 4) {
    margin-top: 0;
  }
  @media (max-width: 990px) {
    flex: 1 1 50%;
  }
}
.similar-img {
  margin: 0 0 18px 0;
  img {
    width: 100%;
  }
}
.similar-info {
}
.similar-title {
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
}
.similar-subtitle {
  font-size: 16px;
  line-height: 150%;
  color: #e0e0e0;
}
